@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  width: 100%;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: rgb(167, 155, 155);
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
   font-weight: 600;
  font-size: 24px;
  text-align: center;
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}


/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 18px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.accordion__section .closebtn {
  color: #AA9;
  font-weight: bold;
  float: right;
  cursor: pointer;
  font-size: 1.3em;
  justify-content: 'space-between';
}

.close {
  float:right;
}

.closebtn:hover {
  color: #AC2500;
}


.formWrapper{
  margin: auto;
}

.noteButton{
  width: 10%;
  border: none;
  margin: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 24px;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
  background-color: #121c57;
  color: #fff;
  transition: 0.2s ease-out;
}

.noteButton:hover{
  background-color: #3043b4;
  color: #fff;
  transition: 0.2s ease-out;
}

.noteInput{
  width: 90%;
  height: 43px;
  align-self: center;
  min-width: 800px;
  font-size: 1.3em;
  padding-left: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'Droid Sans', sans-serif;
  background-color: rgba(230, 230, 230, 0.8);
  color: #fff;
  transition: 0.2s ease-out;
}

.noteInput:focus{
  background-color: #ffffff;
  color: #111;
  transition: 0.2s ease-in;
}

.noteInput:hover{
  background-color: #ffffff;
  color: #111;
  transition: 0.2s ease-in;
}