.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
      float: left;
      padding: 10px;
  }

  .left {
      width: 50%;
  }

  .middle {
      width: 20%;
  }

  .right {
      width: 25%;
  }

  .delete {
      width: 5%;
      float: right;
      padding: 10px;
  }

  .deletebtn:hover {
    color: rgb(216, 65, 65);
  }
